In [56]:
import psycopg2
import pandas as pd
import json

In [57]:
# AWS
conn = psycopg2.connect(dbname='tweetsql',port=5432,password="tweetsql",
                        user='tweetsql',host='tweetsql.cggizg1efi9f.us-east-1.rds.amazonaws.com')

In [58]:
cur = conn.cursor()

In [59]:
# List all tables
cur.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
print(cur.fetchall())

[('tweet',)]

In [60]:
query = '''SELECT *
           FROM tweet 
           LIMIT 400;'''

cur.execute(query)

In [61]:
df = pd.read_sql_query(query, conn)